#a9,#b9,#d9,#a10,#b10,#d10,#a11,#b11,#d11,#a12,#b12,#d12,#chicken-chart,#climax,#a13,#b13,#d13,#d14,#a15,#b15,#d15,#d16,#d17,#c17,#a18,#b18,#d18,#a19,#b19,#d19,#a20,#b20,#d20,#d21,#c21,#a22,#b22,#d22,#d23{
    display:none;
}

#a1,#b1,#d1,#d2,#d3,#d4,#c4,#c5{
    display:none;
}
#a6,#b6,#d6,#d61,#d7,#c8{
    display:none;
}